body {
  margin: 0;
  font-family: Arial, sans-serif;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  font-size: 4vw;
  margin-bottom: 10px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

h3 {
  font-size: 20px;
  margin: 10px 0;
}
p {
  font-size: 1vw;
}
.main {
  display: flex;
  height: 100vh;
}
.sidebar {
  width: 250px;
  background: #333;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}
.content {
  height: 94vh;
  overflow-y: auto;
  flex-grow: 1;
  padding: 20px;
  background: #f4f4f4;
}
.logo {
  font-size: 36px;
  margin-bottom: 30px;
  font-weight: bolder;
  text-align: center;
  background: linear-gradient(to right, #ffb147, #ff6c63, #b86adf);
  -webkit-background-clip: text;
  color: transparent;
  font-family: "Courier New", Courier, monospace;
}

nav ul {
  list-style: none;
  padding: 0;
  margin-top: 95px;
  text-align: center;
}

nav ul li {
  margin-left: 20px;
  margin-bottom: 30px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  transition: text-decoration 1s ease;
}
nav ul li a:hover {
  text-decoration: line-through;
  background: linear-gradient(to right, #ffb147, #ff6c63, #b86adf);
  -webkit-background-clip: text;
  color: transparent;
}
nav ul li a.active {
  text-decoration: line-through;
}

.social-media {
  margin-top: auto;
  margin-bottom: 20px;
  text-align: center;
}

.social-media a img {
  width: 24px;
  height: 24px;
  margin: 0 5px;
}

footer {
  font-size: 12px;
  text-align: center;
}

section {
  margin-bottom: 50px;
}

.home-content,
.about-content,
.services-list,
.projects,
.contact-section {
  margin-top: 20px;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.page-1 {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 20px;
}
.home-profile {
  height: 42vw;
  width: 33vw;
  border-radius:50px ;
}
.home-grettings {
  display: none;
}
.grettings-1 {
  font-family: cursive;
}

.about-parts {
  display: flex;
  justify-content: space-around;
  .about-cv {
    .name {
      text-align: center;
      font-size: 2em;
      font-weight: bold;
      background: linear-gradient(to right, #ffb147, #ff6c63, #b86adf);
      -webkit-background-clip: text;
      color: transparent;
    }
  }
}
.icons {
  margin-bottom: 20px;
}
.aboutuspic {
  height: 20vw;
  width: 20vw;
  margin-left: 8px;
}
h1,
h2,
h3 {
  margin: 0;
}

button{
  background: #ff6600;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button img {
  width: 16px;
  height: 16px;
  margin-left: 10px;
}

.contact-info p {
  margin: 5px 0;
}

.experience {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.experience div {
  text-align: center;
}

.work-experience ul {
  list-style: none;
  padding: 0;
}

.work-experience ul li {
  margin: 10px 0;
}

.service {
  display: flex;
  position: relative;
  flex: 1 1 calc(50% - 20px);
  background: #f9f9f9;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  p {
    /* border: 2px solid red; */
    width: 50vw;
    font-family: monospace;
  }
}
.heading {
  margin: 0;
  background: linear-gradient(to right, #ffb147, #ff6c63, #b86adf);
  -webkit-background-clip: text;
  color: transparent;
}
.service::before {
  content: "• ";
  left: 6px;
  position: absolute;
  font-size: 2.2rem;
  background: linear-gradient(to right, #ffb147, #ff6c63, #b86adf);
  -webkit-background-clip: text;
  color: transparent;
  /* color: black; */
}

.project-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.project {
  text-align: center;
  border-bottom: 2px solid #333;
  padding: 20px 0;
}

.project img {
  width: 100%;
  border-radius: 10px;
}

.testimonial {
  background: #ff6600;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin-top: 20px;
}
a {
  text-decoration: none;
  color: #ff6600;
  background: linear-gradient(to right, #ffb147, #ff6c63, #b86adf);
  -webkit-background-clip: text;
  color: transparent;
}
.content {
  flex: 1;
  padding: 20px;
}

section {
  margin-bottom: 40px;
}

#contact .contact-section {
  display: flex;
  justify-content: space-between;
}

#contact .contact-info {
  width: 40%;
}

#contact .contact-info h2 {
  font-size: 24px;
}

#contact .contact-info p {
  margin: 10px 0;
}

#contact .contact-info .social-links {
  display: inline-block;
  margin-right: 10px;
  color: #333;
  text-decoration: none;
}

#contact .contact-form {
  width: 50%;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  padding: 20px;
  border-radius: 8px;
}

#contact .contact-form h2 {
  font-size: 24px;
  color: #fff;
}

#contact .contact-form form {
  display: flex;
  flex-direction: column;
}

#contact .contact-form input,
#contact .contact-form textarea {
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius: 4px;
}

#contact .contact-form input[type="text"],
#contact .contact-form input[type="email"] {
  height: 40px;
}

#contact .contact-form textarea {
  height: 100px;
  resize: none;
}

#contact .contact-form button {
  background-color: #333;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#contact .contact-form button:hover {
  background-color: #555;
}
/* Responsive styles */
@media (max-width: 768px) {
  .sidebar {
    width: 20vw;
    height: auto;
    position: relative;
  }

  .content {
    margin-left: 0;
    padding-top: 0;
  }
  button {
    font-size: 8px;
    padding: 5px;
    i {
      font-size: 8px;
    }
  }
  p {
    font-size: 1.5vw;
  }
  .about-parts {
    flex-wrap: wrap;
    gap: 20px;
  }

  .about-cv {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .work-experience {
    text-align: center;
  }
  .heading {
    font-size: 2vw;
    text-align: center;
  }
  .service {
    p {
      width: 35vw;
      text-align: left;
      font-family: monospace;
    }
  }
  #contact .contact-section {
    flex-direction: column;
  }

  #contact .contact-info,
  #contact .contact-form {
    width: 92%;
  }

  #contact .contact-form {
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  .sidebar {
    width: 15vw;
  }
  .page-1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
  }
  .home-profile {
    height: 80px;
    width: 60px;
  }
  h1 {
    font-size: 5vw;
    margin-bottom: 10px;
  }
  h2 {
    font-size: 14px;
  }
  h3 {
    font-size: 14px;
  }
  span {
    font-size: 7px;
  }
  .about-parts {
    .about-cv {
      .name {
        font-size: 20px;
      }
    }
  }
  p {
    font-size: 2.5vw;
  }
  button {
    font-size: 8px;
    padding: 3px;
  }
  .home-grettings {
    display: block;
  }
  .work-experience {
    img {
      height: 10px;
      width: 10px;
    }
  }
  .work-experience ul li {
    margin: 10px 0;
    font-size: 9px;
  }
  .service {
    flex-direction: column;
  }
  .service::before {
    display: none;
  }
  .heading{
    font-size: 12px;
  }
  .service{
    p{
      width: 100%;
    }
  }
  nav ul li a span {
    display: none;
  }
  nav ul li a i {
    display: inline;
    font-size: 20px;
  }
  nav ul li {
    margin: 10px 0;
  }
  .sidebar .social-media {
    flex-direction: column;
  }

  .sidebar .social-media a {
    margin-bottom: 10px;
  }

  #contact .contact-info h2,
  #contact .contact-form h2 {
    font-size: 12px;
  }
  #contact .contact-info,
  #contact .contact-form {
    width: 80%;
  }
  #contact .contact-form input, #contact .contact-form textarea {
    margin: 10px 0;
    padding: 0px 9px;
    border: none;
    border-radius: 4px;
}
}
